.u-section-1 .u-sheet-1 {
  min-height: 708px;
}

.u-section-1 .u-text-1 {
  font-size: 1rem;
  margin: 20px 678px 0 46px;
}

.u-section-1 .u-icon-1 {
  color: rgb(17, 17, 17) !important;
  font-size: 3em;
}

.u-section-1 .u-text-2 {
  letter-spacing: 1px;
  line-height: 2;
  font-size: 1rem;
  margin: 20px 73px 0;
}

.u-section-1 .u-list-icon-1 {
  color: rgb(235, 186, 22) !important;
}

.u-section-1 .u-list-icon-1 {
  color: rgb(235, 186, 22) !important;
}

.u-section-1 .u-list-icon-1 {
  color: rgb(235, 186, 22) !important;
}

.u-section-1 .u-list-icon-1 {
  color: rgb(235, 186, 22) !important;
}

.u-section-1 .u-list-icon-1 {
  color: rgb(235, 186, 22) !important;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  margin: 20px 48px 0;
}

.u-section-1 .u-text-4 {
  text-decoration: underline !important;
  font-size: 1rem;
  margin: 20px 916px 0 106px;
}

.u-section-1 .u-text-5 {
  letter-spacing: 0px;
  font-size: 1rem;
  margin: 29px 74px 60px 106px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 524px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 816px;
    margin-left: 6px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 6px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 304px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 602px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 124px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 422px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 653px;
  }

  .u-section-1 .u-text-1 {
    font-size: 0.875rem;
    margin-top: 5px;
    margin-right: 0;
  }

  .u-section-1 .u-icon-1 {
    font-size: 2em;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.75rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.75rem;
  }

  .u-section-1 .u-text-4 {
    font-size: 0.75rem;
    margin-right: 222px;
  }

  .u-section-1 .u-text-5 {
    font-size: 0.75rem;
    margin-bottom: 20px;
  }
}